lft/Backups
lft/Cache
lft/CachedData
lft/CachedProfilesData/
lft/Code Cache/
lft/Cookies
lft/Cookies-journal
lft/Crashpad/
lft/Dictionaries/
lft/GPUCache/
lft/Local Storage/
lft/Network Persistent State
lft/Preferences
lft/Session Storage/
lft/TransportSecurity
lft/User/
lft/languagepacks.json
lft/logs/
lft/machineid
demonstration/__pycache__
experiment/__pycache__
lft/__pycache__
experiment/results/*
results/data/*
results/__pycache__