profissa_lft/Backups
profissa_lft/Cache
profissa_lft/CachedData
profissa_lft/CachedProfilesData/
profissa_lft/Code Cache/
profissa_lft/Cookies
profissa_lft/Cookies-journal
profissa_lft/Crashpad/
profissa_lft/Dictionaries/
profissa_lft/GPUCache/
profissa_lft/Local Storage/
profissa_lft/Network Persistent State
profissa_lft/Preferences
profissa_lft/Session Storage/
profissa_lft/TransportSecurity
profissa_lft/User/
profissa_lft/languagepacks.json
profissa_lft/logs/
**/__pycache__/
profissa_lft/machineid
experiment/results/*
results/data/*
containernet/

build
dist
profissa_lft.egg-info
.DS_Store
